.book-root{
    padding: 1%;
    background-size: cover;
    background-position: center center;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    align-content: center; 
}

.cover-img{
    min-width: 10%;
    min-height: 20%;
}