.library-root {
    text-align: center;
}

#main-title{
    text-align: center;
}

#books-title{
	font-family: 'Shrikhand', cursive;
    font-size: 200px;
}

#addBook{
	float: right;
	margin-right: 3%;
	margin-top: -15%;
}
